[Desktop Entry]
Type=Application
Name=UsbRobotArm Server
Icon=/home/pi/DaybaScripts/usbRobotArm/Setup/pythonUSBArmServer.png
Exec=/home/pi/DaybaScripts/usbRobotArm/Setup/pythonUSBArmServer.py 
Terminal=true
